html {
  height: 100%;
  scroll-behavior: smooth;
}
body{

  background-color: black;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

#hello {
  height: 50vw;
  width: 80vw;
  stroke-dasharray: 3363;
  animation: 3s fillSvg linear;
}

@keyframes fillSvg{
  0%{
      stroke-dashoffset: 3363;
  }
  100%{
      stroke-dashoffset: 0;
  }
}

p {
  color: white;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
}

#middle{
  padding-top: 10vw;
}

#coffee_pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 58vw;
  width: 80vw;
  
}


